In [1]:
import pandas as pd
import numpy as np
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

import mlxtend as ml

In [5]:
dataset = []

import random

items = ['Apple','Corn','Dill','Eggs',
         'Ice cream','Kidney Beans','Milk','Nutmeg',
         'Onion','Unicorn','Yogurt', 'Bread', 
         'Cheese', 'Butter', 'Sugar','chocolate']

for i in range(1,1000):
    k = random.randrange(1, len(items)+1)
    #print('K Values: ',k)
    dataset.append(random.choices(items, k=k))
    #print(random.sample(items, k=k))
   
    #liste.append(random.sample(items, k=k))
    #print(random.sample(items, k=k))

    #random.sample
    #dataset.append(random.sample(items, k=k))
    #print(random.sample(items, k=k))

In [6]:
len(dataset)

999

In [7]:
dataset[1:5]

[['Butter', 'Nutmeg', 'Corn', 'Cheese', 'Ice cream', 'Dill'],
 ['Cheese',
  'Milk',
  'Onion',
  'Dill',
  'Ice cream',
  'Eggs',
  'Kidney Beans',
  'chocolate',
  'Kidney Beans',
  'Apple'],
 ['Ice cream'],
 ['Apple',
  'Dill',
  'Bread',
  'Bread',
  'Onion',
  'Cheese',
  'Corn',
  'chocolate',
  'Butter',
  'Sugar',
  'Apple']]

In [9]:
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns= te.columns_)

In [10]:
df.head()

,Apple,Bread,Butter,Cheese,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Sugar,Unicorn,Yogurt,chocolate
0,False,False,False,True,True,False,False,False,False,False,True,False,True,False,False,False
1,False,False,True,True,True,True,False,True,False,False,True,False,False,False,False,False
2,True,False,False,True,False,True,True,True,True,True,False,True,False,False,False,True
3,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False
4,True,True,True,True,True,True,False,False,False,False,False,True,True,False,False,True

In [15]:
apriori(df,min_support=0.15)

      support  itemsets
0    0.421421       (0)
1    0.399399       (1)
2    0.413413       (2)
3    0.387387       (3)
4    0.376376       (4)
..        ...       ...
131  0.170170  (12, 14)
132  0.156156  (12, 15)
133  0.189189  (13, 14)
134  0.192192  (13, 15)
135  0.171171  (14, 15)

[136 rows x 2 columns]

In [16]:
print("Kural Sayısı: ",len(apriori(df,min_support=0.15)))

Kural Sayısı:  136

In [17]:
apriori(df, min_support=0.15, use_colnames=True)

      support              itemsets
0    0.421421               (Apple)
1    0.399399               (Bread)
2    0.413413              (Butter)
3    0.387387              (Cheese)
4    0.376376                (Corn)
..        ...                   ...
131  0.170170       (Yogurt, Sugar)
132  0.156156    (chocolate, Sugar)
133  0.189189     (Unicorn, Yogurt)
134  0.192192  (Unicorn, chocolate)
135  0.171171   (chocolate, Yogurt)

[136 rows x 2 columns]

In [18]:
frequent_itemsets = apriori(df, min_support=0.15, use_colnames= True)

association_rules(frequent_itemsets, metric="confidence", min_threshold=0.3)

rules1 = association_rules(frequent_itemsets, metric= "confidence", min_threshold= 0.3)

In [19]:
print("Oluşan kural sayısı: ", len(rules1))

Oluşan kural sayısı:  240

In [20]:
rules1 = rules1.sort_values(['confidence'], ascending=False)

In [21]:
rules1[1:11]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
179,(Ice cream),(Unicorn),0.408408,0.417417,0.213213,0.522059,1.250688,0.042736,1.218942
182,(chocolate),(Ice cream),0.369369,0.408408,0.192192,0.520325,1.274032,0.041339,1.233318
237,(chocolate),(Unicorn),0.369369,0.417417,0.192192,0.520325,1.246534,0.038011,1.214537
12,(Ice cream),(Apple),0.408408,0.421421,0.210210,0.514706,1.221357,0.038098,1.192223
154,(Milk),(Eggs),0.427427,0.429429,0.219219,0.512881,1.194330,0.035669,1.171316
137,(Dill),(Milk),0.379379,0.427427,0.194194,0.511873,1.197568,0.032037,1.173000
215,(Nutmeg),(Unicorn),0.397397,0.417417,0.203203,0.511335,1.224997,0.037323,1.192192
178,(Unicorn),(Ice cream),0.417417,0.408408,0.213213,0.510791,1.250688,0.042736,1.209283
185,(Kidney Beans),(Milk),0.376376,0.427427,0.192192,0.510638,1.194678,0.031319,1.170040
155,(Eggs),(Milk),0.429429,0.427427,0.219219,0.510490,1.194330,0.035669,1.169684

In [38]:
rules1["antecedent_len"] = rules1["antecedents"].apply(lambda x: len(x))
rules1["consequents"] = rules1["consequents"].apply(lambda x: len(x))
rules1[1:6]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len
63,(Butter),1,0.399399,0.409409,0.204204,0.511278,1.248819,0.040686,1.208439,1
21,(Onion),1,0.397397,0.419419,0.202202,0.508816,1.213144,0.035526,1.182003,1
3,(Butter),1,0.399399,0.419419,0.203203,0.508772,1.213039,0.035687,1.181896,1
15,(Kidney Beans),1,0.395395,0.419419,0.199199,0.503797,1.201178,0.033363,1.170048,1
141,(Onion),1,0.397397,0.409409,0.200200,0.503778,1.230500,0.037502,1.190175,1

In [39]:
rules2 = association_rules(frequent_itemsets, metric="lift", min_threshold=1)
rules2 = rules2.sort_values(['lift'], ascending= False)
rules2[1:6]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
74,(Onion),(Butter),0.397397,0.399399,0.200200,0.503778,1.261340,0.041480,1.210347
133,(Ice cream),(Dill),0.399399,0.409409,0.205205,0.513784,1.254941,0.041687,1.214668
132,(Dill),(Ice cream),0.409409,0.399399,0.205205,0.501222,1.254941,0.041687,1.204145
122,(Corn),(Sugar),0.389389,0.374374,0.182182,0.467866,1.249728,0.036405,1.175693
123,(Sugar),(Corn),0.374374,0.389389,0.182182,0.486631,1.249728,0.036405,1.189419

In [41]:
rules2["antecedent_len"] = rules2["antecedents"].apply(lambda x: len(x))
rules2["consequents"] = rules2["consequents"].apply(lambda x: len(x))
rules2[1:6]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len
74,(Onion),1,0.397397,0.399399,0.200200,0.503778,1.261340,0.041480,1.210347,1
133,(Ice cream),1,0.399399,0.409409,0.205205,0.513784,1.254941,0.041687,1.214668,1
132,(Dill),1,0.409409,0.399399,0.205205,0.501222,1.254941,0.041687,1.204145,1
122,(Corn),1,0.389389,0.374374,0.182182,0.467866,1.249728,0.036405,1.175693,1
123,(Sugar),1,0.374374,0.389389,0.182182,0.486631,1.249728,0.036405,1.189419,1

In [42]:
 #Filtre 1: Antecedent item uzunluğu 1 olan ve Confidence değeri 0.20’ye büyük eşit olan ve Lift değeri 1‘den büyük olan ilk 10 kayıtı görelim.
rules1[(rules1['antecedent_len'] >= 1) &
       (rules1['confidence'] >= 0.20) &
       (rules1['lift'] > 1) ].sort_values(['confidence'], ascending=False)[1:10]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len
63,(Butter),1,0.399399,0.409409,0.204204,0.511278,1.248819,0.040686,1.208439,1
21,(Onion),1,0.397397,0.419419,0.202202,0.508816,1.213144,0.035526,1.182003,1
3,(Butter),1,0.399399,0.419419,0.203203,0.508772,1.213039,0.035687,1.181896,1
15,(Kidney Beans),1,0.395395,0.419419,0.199199,0.503797,1.201178,0.033363,1.170048,1
141,(Onion),1,0.397397,0.409409,0.200200,0.503778,1.230500,0.037502,1.190175,1
74,(Onion),1,0.397397,0.399399,0.200200,0.503778,1.261340,0.041480,1.210347,1
11,(Eggs),1,0.394394,0.419419,0.198198,0.502538,1.198175,0.032782,1.167085,1
75,(Butter),1,0.399399,0.397397,0.200200,0.501253,1.261340,0.041480,1.208233,1
132,(Dill),1,0.409409,0.399399,0.205205,0.501222,1.254941,0.041687,1.204145,1